<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wifidata.dao.RealTimeDao">


    <select id="getRealTimeFlow" resultType="java.util.HashMap">
        select * from tb_realflow order by id desc limit 1;
    </select>

    <select id="getRealCustomer" resultType="java.lang.String">
        select mac from tb_realcustomer  where time = #{0};
    </select>


    <select id="getOlderFlow" resultType="java.lang.Integer">
        select count from tb_realflow order by id desc LIMIT 19;
    </select>


</mapper>